<!DOCTYPE html>
<html lang="en">
<!-- 使用thymeleaf需引入 -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div  id="tableP">
    <table>
        <caption>规则信息</caption>
        <tr>
            <th>名称</th>
            <th>编码</th>
            <th>规则定位</th>
            <th>规则类型</th>
        </tr>

        <tr th:each="item: ${rules}">
            <td th:text="${{item.pname}}"></td>
            <td th:text="${{item.pcode}}"></td>
            <td th:text="${{item.ppos}}"></td>
            <td th:text="${{item.ptype}}"></td>
        </tr>
    </table>
</div>
</div>
</body>
</html>